# Index and Indexing
Index
DATAFRAME = COLUMNS + INDEX + ND DATA
SERIES = INDEX + 1-D DATA

Index or (row labels) is one of the fundamental data structure of pandas. It can be thought of as an immutable array and an ordered set.

Every row is uniquely identified by its index value.

In [1]:
import pandas as pd
df = pd.read_csv("data/bikes.csv", sep=';', parse_dates=['Date'], index_col='Date')

In [2]:
df.head()

,Unnamed: 1,Rachel / Papineau,Berri1,Maisonneuve_2,Maisonneuve_1,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
Date,,,,,,,,,,
2012-01-01,00:00,16,35,51,38,5.0,26,10,0,27.0
2012-02-01,00:00,43,83,153,68,11.0,53,6,1,21.0
2012-03-01,00:00,58,135,248,104,2.0,89,3,2,15.0
2012-04-01,00:00,61,144,318,116,2.0,111,8,1,19.0
2012-05-01,00:00,95,197,330,124,6.0,97,13,2,16.0

In [3]:
df.index

DatetimeIndex(['2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
               '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
               '2012-09-01', '2012-10-01',
               ...
               '2012-12-22', '2012-12-23', '2012-12-24', '2012-12-25',
               '2012-12-26', '2012-12-27', '2012-12-28', '2012-12-29',
               '2012-12-30', '2012-12-31'],
              dtype='datetime64[ns]', name='Date', length=366, freq=None)

In [4]:
df['Berri1']

Date
2012-01-01      35
2012-02-01      83
2012-03-01     135
2012-04-01     144
2012-05-01     197
2012-06-01     146
2012-07-01      98
2012-08-01      95
2012-09-01     244
2012-10-01     397
2012-11-01     273
2012-12-01     157
2012-01-13      75
2012-01-14      32
2012-01-15      54
2012-01-16     168
2012-01-17     155
2012-01-18     139
2012-01-19     191
2012-01-20     161
2012-01-21      53
2012-01-22      71
2012-01-23     210
2012-01-24     299
2012-01-25     334
2012-01-26     306
2012-01-27      91
2012-01-28      80
2012-01-29      87
2012-01-30     219
              ...
2012-02-12     324
2012-03-12    1286
2012-04-12    1264
2012-05-12    1204
2012-06-12    1252
2012-07-12    1151
2012-08-12     382
2012-09-12     427
2012-10-12     245
2012-11-12     517
2012-12-12     598
2012-12-13     655
2012-12-14     738
2012-12-15     335
2012-12-16     177
2012-12-17     236
2012-12-18     242
2012-12-19     346
2012-12-20     433
2012-12-21     178
2012-12-22      84
2012-12-23      82
2012-12-24      51
2012-12-25      26
2012-12-26      49
2012-12-27      12
2012-12-28      35
2012-12-29      27
2012-12-30       5
2012-12-31       4
Name: Berri1, Length: 366, dtype: int64

In [5]:
df['2012-05-01']

,Unnamed: 1,Rachel / Papineau,Berri1,Maisonneuve_2,Maisonneuve_1,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
Date,,,,,,,,,,
2012-05-01,00:00,95,197,330,124,6.0,97,13,2,16.0

To get row by integer index:
Use .iloc[] for purely integer-location based indexing for selection by position.

In [6]:
df.iloc[10]

Unnamed: 1                     00:00
Rachel / Papineau                194
Berri1                           273
Maisonneuve_2                    443
Maisonneuve_1                    182
Brébeuf                            7
Parc                             258
PierDup                           12
CSC (Côte Sainte-Catherine)        0
Pont_Jacques_Cartier              20
Name: 2012-11-01 00:00:00, dtype: object

In [7]:
df[1:5]

,Unnamed: 1,Rachel / Papineau,Berri1,Maisonneuve_2,Maisonneuve_1,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
Date,,,,,,,,,,
2012-02-01,00:00,43,83,153,68,11.0,53,6,1,21.0
2012-03-01,00:00,58,135,248,104,2.0,89,3,2,15.0
2012-04-01,00:00,61,144,318,116,2.0,111,8,1,19.0
2012-05-01,00:00,95,197,330,124,6.0,97,13,2,16.0

In [8]:
df['Berri1'][0]

35

In [9]:
df['Berri1']['2012-01-01']

Date
2012-01-01    35
Name: Berri1, dtype: int64

In [10]:
df['Berri1'][1]

83